@import '../../mixins.scss';
@import '../../fonts/fonts.scss';
@import '../../general-parametrs.scss';


.phon {
    @media (min-width:1051px) {
        display: none;
    }

    transition      : 0.3s all;
    position        : absolute;
    top             : 0;
    left            : 0;
    width           : 100%;
    height          : 100%;
    background-color: black;
    opacity         : 0.7;
    filter          : blur(5px);
}

.ITSTimeForHiking {

    @include adapt-value('padding-top', 143.90, 62.13, 0);










    background-color   : blueviolet;
    position           : relative;
    transition         : 0.3s all;
    /*  min-height     : 960px; */
    overflow           : hidden;
    min-height         : calc(100vh - 143px);

    @media (max-width:1300px) {
        min-height: calc(100vh - 100px);
    }

    @media (max-width:900px) {
        min-height: calc(100vh - 80px);
    }

    @media (max-width:800px) {
        min-height: calc(100vh - 70px);
    }

    @media (max-width:500px) {
        min-height: calc(100vh - 62px);
    }

    /* @include adapt-value ('margin-top',-70,0,0);  */
    background : url('../../content/images/ITSTimeForHiking/headerBackground_1.png') 50% 50%/cover no-repeat;






    /* 
    @media (max-width:1200px) {
        background: url('../../content/images/ITSTimeForHiking/headerBackground_1.png') 10% 50%/ cover no-repeat;

    }

    @media (max-width:900px) {
        background: url('../../content/images/ITSTimeForHiking/headerBackground_1.png') 0% 50%/cover no-repeat;

    }

    @media (max-height:390px) {
        background: url('../../content/images/ITSTimeForHiking/headerBackground_1.png') 20% 50%/150% 150% no-repeat;

    }

    @media (max-width:650px) {
        background: url('../../content/images/ITSTimeForHiking/headerBackground_1.png') 0% 0%/210% 210% no-repeat;

    }

    @media (min-height:1024px) {
        background: url('../../content/images/ITSTimeForHiking/headerBackground_1.png') 35% 50%/cover no-repeat;

    }

    @media (min-height:1081px) {
        background: url('../../content/images/ITSTimeForHiking/headerBackground_1.png') 40% 50%/cover no-repeat;

    }

    @media (min-height:1366px) {
        background: url('../../content/images/ITSTimeForHiking/headerBackground_1.png') 43% 50%/cover no-repeat;

    }

    @media (max-width:749px) and (min-height:700px) {
        background: url('../../content/images/ITSTimeForHiking/headerBackground_1.png') 25% 50%/cover no-repeat;

    }

    @media (max-width:749px) and (min-height:930px) {
        background: url('../../content/images/ITSTimeForHiking/headerBackground_1.png') 37% 50%/cover no-repeat;

    }

    @media (min-width:750px) and (min-height:700px) {
        background: url('../../content/images/ITSTimeForHiking/headerBackground_1.png') 40% 50%/cover no-repeat;

    }

    @media (min-width:820px) and (min-height:700px) {
        background: url('../../content/images/ITSTimeForHiking/headerBackground_1.png') 40% 50%/cover no-repeat;

    }

    @media (min-width:700px) and (min-height:1200px) {
        background: url('../../content/images/ITSTimeForHiking/headerBackground_1.png') 41% 50%/cover no-repeat;

    }
    @media (min-width:280px) and (max-width:465px) {
        background: url('../../content/images/ITSTimeForHiking/headerBackground_1.png') 0% 50%/400% no-repeat;

    }

     */







    &::before {


        /* @media (min-width:1200px) { */
        top: -15%;


        /* } */

        @extend %runLine_top;


    }

    &::after {


        @extend %runLine_bottom;

        background-image: url('../../content/images/animation/Shape-1.png');
    }



}

.ITSTimeForHiking._Dark {

    &::before,
    &::after {
        opacity   : 0.5;
        transition: inherit;
    }




}


/// / / / / / /





.ITSTimeForHiking__container {
    position   : relative;
    z-index    : 5;
    font-weight: 700;

    @include calc-container(90);
}

@media (min-width:2000px) {
    .ITSTimeForHiking__container {

        @include calc-container2k(90);
    }
}

.ITSTimeForHiking__body {}

.ITSTimeForHiking__content {
    /* padding-top: 300px; */
    max-width: 50%;
    @include adapt-value('padding-bottom', 100, 80, 0);

    ///49% 


}





@media (max-width:650px) {
    .ITSTimeForHiking__content {
        /* @include adapt-value('padding-top', 250, 200, 0); */

        max-width: 100%;
    }
}

@media (min-width:651px) and (max-width:1050px) {
    .ITSTimeForHiking__content {
        /* @include adapt-value('padding-top', 250, 200, 0); */

        max-width: 80%;
    }
}

@media (min-width:1441px) {
    .ITSTimeForHiking__content {
        /* @include adapt-value('padding-top', 250, 200, 0); */

        max-width: 44%;
    }
}

@media (min-width:1201px) and (max-width:1440px) {
    .ITSTimeForHiking__content {
        max-width: 46.5%;
    }
}




@media (min-width:1051px) and (max-width:1200px) {
    .ITSTimeForHiking__content {
        max-width: 46.5%;
    }

}

/* 
@media (max-width:949px) and (min-width:900px) {
    .ITSTimeForHiking__content {
        max-width: 48.5%;
    }

}

@media (min-width:870px) and (max-width:899px) {
    .ITSTimeForHiking__content {
        max-width: 51.1%;
    }

}

@media (min-width:850px) and (max-width:869px) {
    .ITSTimeForHiking__content {
        max-width: 52.5%;
    }

}

@media (min-width:820px) and (max-width:849px) {
    .ITSTimeForHiking__content {
        max-width: 54.5%;
    }

}

@media (min-width:790px) and (max-width:819px) {
    .ITSTimeForHiking__content {
        max-width: 56.3%;
    }

}

@media (min-width:780px) and (max-width:789px) {
    .ITSTimeForHiking__content {
        max-width: 57.0%;
    }

}

@media (min-width:770px) and (max-width:779px) {
    .ITSTimeForHiking__content {
        max-width: 58.0%;
    }

}

@media (min-width:760px) and (max-width:769px) {
    .ITSTimeForHiking__content {
        max-width: 58.5%;
    }

}

@media (min-width:750px) and (max-width:759px) {
    .ITSTimeForHiking__content {
        max-width: 59%;
    }

}

@media (min-width:730px) and (max-width:749px) {
    .ITSTimeForHiking__content {
        max-width: 61%;
    }

}

@media (min-width:710px) and (max-width:729px) {
    .ITSTimeForHiking__content {
        max-width: 63.5%;
    }

}

@media (min-width:690px) and (max-width:709px) {
    .ITSTimeForHiking__content {
        max-width: 65.0%;
    }

}

@media (min-width:670px) and (max-width:689px) {
    .ITSTimeForHiking__content {
        max-width: 66.5%;
    }
}

@media (min-width:651px) and (max-width:669px) {
    .ITSTimeForHiking__content {
        max-width: 68.5%;
    }
}
 */
/* 
@media (max-width:767px) {
    .ITSTimeForHiking__content{
        max-width:     55%; 
    }
} */
/* @media (min-width:651px) and (max-width:699px) {
    .ITSTimeForHiking__content {
        max-width: 60%;
    }

} */



.ITSTimeForHiking__title {
    font-weight   : 800;
    transition    : 0.3s all;
    /* font-size  : 90px; */
    text-transform: uppercase;
    color         : #deb37e;
    font-family   : 'Open Sans', Arial, "Helvetica Neue", Helvetica, sans-serif;
    line-height   : 120%;
    @include adapt-value('font-size', 80, 40, 0);

    @media (min-width:1441px) {
        @include adapt-value('font-size', 70, 40, 0);

    }
}

@media (max-width:650px) {
    .ITSTimeForHiking__title {
        text-align: center;
        @include adapt-value('margin-bottom', 20, 20, 0);

    }
}

/* @media (max-height:500px) {
    .ITSTimeForHiking__title {
        @include adapt-value('font-size', 60, 30, 0);
    }
}
 */

.ITSTimeForHiking__sub_title {
    font-style  : italic;
    color       : #54524f;
    /* font-size: 30px; */
    @include adapt-value('font-size', 30, 20, 0);
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-weight   : 700;
    font-family   : 'Open Sans', Arial, "Helvetica Neue", Helvetica, sans-serif;

    @include adapt-value('margin-bottom', 30, 20, 0);

}

@media (max-width:650px) {
    .ITSTimeForHiking__sub_title {
        text-align: center;
        @include adapt-value('margin-bottom', 65, 25, 0);

    }
}

@media (max-width:1050px) {
    .ITSTimeForHiking__sub_title {

        color: whitesmoke;

    }
}

/* @media (max-height:500px) {
    .ITSTimeForHiking__sub_title {
        @include adapt-value('margin-bottom', 25, 15, 0);
    }
} */



.ITSTimeForHiking__button {
    /* line-height: 250%; */
    display         : inline-block;
    border-radius   : 100px;
    background-color: white;
    text-transform  : uppercase;

    color: #776c64;
    @include adapt-value('padding-left', 35, 30, 0);
    @include adapt-value('padding-right', 35, 30, 0);
    font-size  : 25px;
    font-weight: 800;
    line-height: 190%;
    font-family: 'Open Sans', Arial, "Helvetica Neue", Helvetica, sans-serif;
    @include adapt-value('margin-bottom', 30, 20, 0);
    transition: all 0.3s;
}

@media (max-width:650px) {
    .ITSTimeForHiking__button {
        text-align: center;
        left      : 50%;
        position  : relative; ///experiment
        transform : translate(-50%, 0%); ///experiment
        @include adapt-value('margin-bottom', 65, 25, 0);
    }
}



/* @media (max-height:500px) {
    .ITSTimeForHiking__button {
        @include adapt-value('margin-bottom', 20, 10, 0);

    }
} */

@media (hover:hover) {

    .ITSTimeForHiking__button:hover {
        background-color: #deb37e;
        box-shadow      : 0px 0px 0px 5px #54524f;
        color           : white;
    }
}

@media (hover:none) {
    .ITSTimeForHiking__button {
        transition: all 0.15s;
    }

    .ITSTimeForHiking__button:active {
        background-color: #deb37e;
        box-shadow      : 0px 0px 0px 5px #54524f;
        color           : white;
    }
}



.ITSTimeForHiking__text {
    color         : #54524f;
    font-style    : italic;
    font-weight   : 400;
    font-family   : 'Open Sans', Arial, "Helvetica Neue", Helvetica, sans-serif;
    letter-spacing: 1px;
    line-height   : 150%;

    @include adapt-value('font-size', 20, 18, 0);
    padding-right: 5px;

    @media (min-height:1100px) {

        @include adapt-value('font-size', 30, 20, 0);
    }

}

@media (max-width:650px) {
    .ITSTimeForHiking__text {
        padding-right: 0px;
        text-align   : justify;

    }
}

@media (max-width:1050px) {
    .ITSTimeForHiking__text {

        color: whitesmoke;

    }
}

.ITSTimeForHiking__background {
    position: absolute;

    left      : 0;
    top       : 0;
    width     : 100%;
    height    : 100%;
    z-index   : 1;
    object-fit: cover;
}

@media (min-width:1441px) {
    .ITSTimeForHiking__background {

        object-position: 50% 50%;

    }
}


@media (min-width:768px) {
    .ITSTimeForHiking__background {

        @include adapt-value ('top', 83, 40, 0); //////не трогать
    }
}

@media (min-width:768px) and (max-width:1100px) {

    .ITSTimeForHiking__background {

        object-position: 38% 50%;

    }
}

@media (min-width:701px) and (max-width:767px) {
    .ITSTimeForHiking__background {

        object-position: 29% 50%;

    }
}

@media (min-width:651px) and (max-width:700px) {
    .ITSTimeForHiking__background {

        object-position: 33% 50%;

    }
}

@media (max-width:650px) {
    .ITSTimeForHiking__background {
        transform      : scale(1.15);
        object-position: 0% 0%;

    }
}



.ITSTimeForHiking__background_top {
    position: absolute;
    z-index : 0;


    @media (min-width:1441px) {
        & {
            top: -2%;
        }
    }

    @media (min-width:601px) and (max-width:767px) {
        & {
            top: 4.5%;
        }
    }

    @media (min-width:451px) and (max-width:600px) {
        & {
            top: 4.5%;
        }
    }

    /* @media (max-width:450px) {
        & {
            top: 5%;
        }
    } */
    @media (min-width:430px) and (max-width:450px) {
        & {
            top: 5%;
        }
    }

    @media (max-width:429px) {
        & {
            top: 3.5%;
        }
    }

    /*
    @media (min-width:768px) and (max-width:900px) {
        & {
            top       : -7%;
            
        }   
    } */


}

/*  @media (max-width:767px) {
    & {
        top       : 3%;
    }   
} */





.ITSTimeForHiking__background_bottom {
    position         : absolute;
    /*  bottom       : -20%; */
    left             : 0;
    width            : 100%;

    z-index: 0;
}

@media (min-width:1900px) {
    .ITSTimeForHiking__background_bottom {
        bottom: -200px;
    }
}

@media (min-width:2400px) {
    .ITSTimeForHiking__background_bottom {
        bottom: -250px;
    }
}

@media (min-width:1651px) and (max-width:1900px) {
    .ITSTimeForHiking__background_bottom {
        bottom: -180px;
    }
}


@media (min-width:1441px) and (max-width:1650px) {
    .ITSTimeForHiking__background_bottom {
        bottom: -120px;
    }
}


@media (min-width:1251px) and (max-width:1440px) {
    .ITSTimeForHiking__background_bottom {
        bottom: -100px;
    }
}

@media (min-width:1151px) and (max-width:1250px) {
    .ITSTimeForHiking__background_bottom {
        bottom: -90px;
    }
}

@media (min-width:1001px) and (max-width:1150px) {
    .ITSTimeForHiking__background_bottom {
        bottom: -90px;
    }
}

@media (min-width:768px) and (max-width:1000px) {
    .ITSTimeForHiking__background_bottom {
        bottom: -60px;
    }
}

@media (min-width:601px) and (max-width:767px) {
    .ITSTimeForHiking__background_bottom {
        bottom: -50px;
    }
}

@media (min-width:451px) and (max-width:600px) {
    .ITSTimeForHiking__background_bottom {
        bottom: 0%;
    }
}

@media (max-width:450px) {
    .ITSTimeForHiking__background_bottom {
        bottom: 0%;
    }
}