@import '../../../mixins';
@import '../../../general-parametrs';
@import '../../../fonts/fonts';




.cards {

    &__body {}

    &__items {


        @media (min-width:577px) {
            @include adapt-value('margin-left', -22, -7.5, 1);
            @include adapt-value('margin-right', -22, -7.5, 1);
            display  : flex;
            flex-wrap: wrap;
            @include adapt-value('margin-bottom', -35, -25, 0);
        }
    }

}


.card {
    font-family: 'Open sans', Arial, "Helvetica Neue", Helvetica, sans-serif;



    @media (min-width:768px) {

        @include adapt-value('margin-bottom', 35, 20, 0);
    }

    @media (min-width:577px) {
        flex       : 0 0 50%;
        /*  padding: 0 43.5px 0; */

       
            @include adapt-value('margin-bottom', 35, 25, 0);

       

    }

    @media (max-width:576px) {
        &:not(:last-child) {
            @include adapt-value('margin-bottom', 35, 25, 0);

        }
    }

    @media (min-width:1201px) {
        flex: 0 0 33.333%;
    }

    &__body {

        @include adapt-value('padding-left', 22, 7.5, 1);
        @include adapt-value('padding-right', 22, 7.5, 1);
    }

    &__title {
        font-weight: 700;
        color      : $orangeLight;
        line-height: 1.2;
        
            @include adapt-value(font-size,33.423,24,0);
        
        @include adapt-value(margin-bottom,35,10,0);



    }

    &__text {


        
        @include adapt-value(font-size,19,18,0);
        color      : rgb(51, 61, 66);
        line-height: 1.33;




    }
}

._Dark{
    .card {
        &__text {


        
           
            color      : white;
            
    
    
    
    
        } 
    }   
}