@import '../../mixins.scss';
@import '../../fonts/fonts';
@import '../../general-parametrs';

//// #99928d  765px
/// 




/// 
/// 

.mountain {
    overflow: hidden;
    position: relative;
    background-color: white;

    &__title {
        z-index: 2;
        color  : #54524f;
    }

    &__explore {
        z-index: -1;
        color  : #54524f;
    }
}
._Dark.mountain {
    background-color: rgba(255, 255, 255, 0.5);
}

.title_mountains {
    overflow        : visible;
    background-color: rgba(153, 146, 141, 0.9);
    position        : relative;


    @include adapt-value('margin-top', 25, 5, 1);

    font-family: "Open Sans";

    &::before {
       
       
       
        @extend %runLine_top;


    }

    &::after {
       
     
        background-image: url('../../content/images/TitleMountains/Bottom_.png');
       
        @extend %runLine_bottom;

        

        
    }




    &__body {



        @include adapt-value('padding-top', 300, 40, 0);
        @include adapt-value('padding-bottom', 150, 65, 0);
        position: relative;

        @include adapt-value('min-height', 768, 300, 0);
        display       : flex;
        flex-direction: column;

        &::before {
            content   : '';
            position  : absolute;
            left      : 0;
            top       : 0;
            width     : 100%;
            height    : 100%;
            background: url('../../content/images/TitleMountains/Left_.png') 0% 50%/ 45% 65% no-repeat;
            @extend %increaseAnimation;

            @media (max-width:1200px) {
                background: url('../../content/images/TitleMountains/Left_.png') 0% 50%/ 75vw 50vw no-repeat;

            }
        }
    }

    &__container {
        padding    : 0 15px;
        flex-grow  : 1;
        margin     : 0 auto;
        max-width  : 1050px;
        display    : flex;
        align-items: center;
    }

    &__content {}







}




.content {

    &__body {
        text-align : center;
        line-height: 1.2;
    }

    &__title {
        @include adapt-value('margin-bottom', 60, 20, 0);

        &>p {


            @include adapt-value('font-size', 58.275, 24, 0);
            color: rgb(255, 255, 255);

        }

    }

    &__sub_title {

        &>p {

            hyphens        : auto;
            -moz-hyphens   : auto;
            -webkit-hyphens: auto;
            -ms-hyphens    : auto;

            display: block;
            padding: 0 5px;


            @include adapt-value('font-size', 29, 14.5, 0);

            color: rgb(219, 219, 219);

        }





    }
}