@import '../../mixins';
@import '../../general-parametrs';
@import '../../fonts/fonts';


.footer {
    position: relative;

    overflow        : hidden;
    background-color: $gray;
    font-family     : 'Montserrat', Arial, "Helvetica Neue", Helvetica, sans-serif;
    color           : white;
    @include adapt-value('padding-top', 150, 50, 0);
    @include adapt-value('padding-bottom', 150, 50, 0);

&::before{
    content: '';
    position: absolute;
    top: -20%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    animation: wave 70s linear infinite alternate-reverse;

    background: url('../../content/images/Footer/Shape.png') 0% 0%/ 175% 27% no-repeat;

}



    &__container {
        position: relative;
        z-index: 2;
        max-width: 1300px;

    }


    &__body {}

    &__items {
        @media (min-width:768px) {
            display: flex;
            @include adapt-value('margin-left', -85, -20, 0);
            @include adapt-value('margin-right', -85, -20, 0);
                
        }
        
    }

    &__item {
        @media (max-width:767px) {
            &:first-child{

            @include adapt-value(margin-bottom,25,20,0);
            }
            

        }
        
        @media (min-width:768px) {
            @include adapt-value('padding-left', 85, 20, 0);
            @include adapt-value('padding-right', 85, 20, 0);
    
        }
        
    }

}

.item_left {
    flex: 0 0 44%;

    &__body {}

    &__title {
    }

    &__text {
        
        @include adapt-value(margin-bottom,40,20,0);
        @include adapt-value(font-size,21,18,0);
        line-height: 1.2;
        hyphens: auto;



    }
}

.item_right {
    flex: 0 0 56%;

    &__body {}

    &__items {
        display: flex;
    @include adapt-value(margin-right,-30,-5,0);
    @include adapt-value(margin-left,-30,-5,0);

    }

    &__list_block {}
}

.item {}


.list_block {
    @media (max-width:767px) {
        &:last-child{
            display: none;
        }   
        flex   : 1 1 50%;
        text-align: center; 
    }
    
    
    
    
    @include adapt-value(padding-right,30,5,0);
    @include adapt-value(padding-left,30,5,0);

    &__body {}

    &__title {}

    &__list {
        ul {
            li {
                
                @include adapt-value(font-size,18.5,16,0);
                line-height: 1.762;


            }
        }
    }
}

.title{
    @include adapt-value(margin-bottom,20,15,0);

        
    @include adapt-value(font-size,31.6,24,0);

    line-height: 1.2;
}