@import './mixins';

@import './general-parametrs';



.App {
  
  -webkit-tap-highlight-color: transparent;
  overflow-x: hidden;
  transition: 0.3s all;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  scroll-behavior: smooth;



}

.App._DARK_theme {

  background-color: #3f3f3f;
}





.root {
 
  overflow-x: hidden;
}
 
  

.wrapper{
 flex: 1 1 100%;
 
 /* @include adapt-value('padding-top', 300, 260, 0); */
 @include adapt-value('padding-top', 143.90, 62.13, 0); 
 
}

